html, body{
    margin: 0%;
    background-color: #F5F7F6;
    font-family: 'Libre Franklin', sans-serif;
    color: #424242;
}


#homeSection{
    height: 751px !important;
    background-color:#78909c ;
    margin: 0% !important;
    width: 100% !important;
}

#weightFont{
    font-weight: bold;
    /* text-shadow: 4px 4px 4px rgba(177, 176, 176, 0.568) */
}

.section-headers{
    font-weight: 900;
}

.section-titles{
    font-weight: bold;
}



.title-shadow{
      text-shadow: 4px 4px 4px #0f0f0fc7
}

h1{
    margin: 0px !important;
}

/* .nav-section{
    margin: 0% !important;
} */